/* CSS default setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 89, 255, 0.523);
    padding: 15px 40px;
}

.logo {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: blue;
}

.hero {
    display: flex;
    height: 100vh;
    background: linear-gradient(
        rgba(0, 221, 255, 0.619),
        rgba(0, 13, 255, 0.619)
    );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    padding: 0 20px;
}
.hero h1{
    margin-bottom: 20px;
    font-size: 46px;
}
.hero p{
    margin-bottom: 20px;
    font-size: 20px;
    max-width: 700px;
}

.btn{
    text-decoration: none;
    background-color: rgba(255, 0, 51, 0.648);
    padding: 12px 36px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: rgb(255, 0, 51);
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 80px 60px;
    gap: 40px;
}
.about-text h2{
    font-size: 36px;
    margin-bottom: 30px;
}
.about-text p{
    font-size: 18px;
    margin-bottom: 10px;
}
.about-text .image{
    grid-template-columns: 1fr 2fr;
    width: 50px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
    font-size: 18px;
    border-radius: 8px;
}

@media (max-width:768px) {
    /* Making Navigation Bar Responsive when the device size is less than 768px */
    .nav-bar{
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }
    .logo{
        font-size: 25px;
        text-align: center;
    }
    .nav-links{
        flex-direction: column;
        gap: 15px;
    }
    .nav-links a{
        font-size: 18px;
    }
    /* Making main Header Responsive when the device is less than the max-height(768px) */
    .hero{
        min-height: 100vh;
        min-height: 100svh;
        padding: 20px 10px;
    }
    .hero h1{
        font-size: 34px;
    }
    .hero p{
        font-size: 18px;
    }
    .btn{
        font-size: 18px;
        padding: 20px 10px;
    }
    /* Making the about Section responding when the device size is less than the max-height(768px) */
    .about{
        grid-template-columns: 1fr 2fr;
        padding: 50px 20px;
        text-align: center;
    }
    .about-text h2{
        font-size: 20px;
    }
    .about-text p{
        font-size: 8px;
    }
    .about-text .image{
        height: 120px;
    }
    .image{
        height: fit-content;
    }
}
